#
alter user root@'localhost' identified by {{ mysql_root_password }} ;
create user root@'127.0.0.1' identified by {{ mysql_root_password }};
grant all on *.* to root@'127.0.0.1' with grant option;

create database {{ application_db }};

create user appuser@'%' identified by {{ mysql_appuser_password }};
grant all on {{ application_db }}.* to appuser@'%' ;

create user appuser@'127.0.0.1' identified by {{ mysql_appuser_password }};
grant all on {{ application_db }}.* to appuser@'127.0.0.1' ;

create user appuser@'localhost' identified by {{ mysql_appuser_password }};
grant all on {{ application_db }}.* to appuser@'localhost';
